
	.table_Structure {margin-left: auto; margin-right:auto; width:75%; display:	table; font-size: 16px; text-align:center;	 word-wrap: break-word;	box-shadow:5px 5px 20px black;}
	.table_Header	{display: table-header-group;	background-color:#ffa600d9; font-weight: bold; font-size:20px;}

	.mobile_Table_Structure {display: none;}

	.table_Row_Structure {text-align:center; display:table-row-group;	background-color:#1b8cb5;}
	.table_Cell_Structure {display:	table-cell; border: 0.5px solid black;}

	.const_Table_Elem_Width {width:100%; margin-left: 0px;}
	.tot_Hrs_Elem {margin-left: 14%;}

	.CPD_Images	{width:25%;}
	#CPD_Image_Higher_Scale {width:75%}
	#CPD_Image_Link{display: none;}

	.mainSection_Style {
	
		margin-top:50px;	
		padding-bottom:1px;		
		background-color:black;		
		border:2.5px groove white;		
		box-shadow:5px 5px 10px black;
	}

	
	.embeddedSection_Style {
		
		margin-left: auto;
		margin-right: auto;		
		background-color:#1b8cb5;		
		border:5px groove rgb(255, 255, 255);		
		padding-top:10px;	
		font-size:20px;
		box-shadow:5px 5px 20px black;
		width:50%;
	}
	
	.embeddedSection_Header_Format	{color:black; font-weight: bold; font-size: 30px; margin-left: 10px;}
	
	#CPDEmbed{margin-top:50px; margin-bottom: 50px;}
	
	
	@media (max-width: 800px) {
	  
		.table_Structure {width:100%; font-size: 12px; display:none;}
		.table_Header {font-size: 12px;}
		.const_Table_Elem_Width {width:100%; margin-left:auto; margin-right:auto; text-align:  center;}

		.mobile_Table_Structure {display: block;}

		.mobile_Table_Header {
			
			margin-left: auto;
			margin-right: auto;		
			background-color:#ffa600d9;		
			border:5px groove rgb(255, 255, 255);		
			padding-top:10px;	
			font-size:20px;
			box-shadow:5px 5px 20px black;
			width:100%;
		}
	
		.mobile_Table_Content {

			margin-left: auto;
			margin-right: auto;		
			background-color:#1b8cb5;		
			border:5px groove rgb(255, 255, 255);		
			padding-top:10px;	
			margin-bottom: 5px;
			font-size:20px;
			box-shadow:5px 5px 20px black;
			width:100%;
		}

		.tot_Hrs_Elem {font-size:90%; margin-left: 5%;}
		.CPD_Images	{width:75%;}
		#CPD_Image_Higher_Scale {display: none;}
		#CPD_Image_Link{display: inline;}
		#Main{margin-top: 50px;}

		.embeddedSection_Style{
			width:90%
		}
	}