	
	.home_Image	{width:95%;		box-shadow:5px 5px 20px 5px black;	border:5px groove white;}
	.home_Body	{text-align:center; padding-bottom:1%}
	
	#home_Desc_Headers{text-align:center; text-shadow:5px 5px 10px black;	width:100%;	color:white; font-weight: normal;}
	
	
	
	.mainSection_Style {
	
		margin-top:50px;	
		padding-bottom:1px;		
		background-color:black;		
		border:2.5px groove white;		
		box-shadow:5px 5px 10px black;
	}
	
	.embeddedSection_Style {
	
		padding-bottom:100px;		
		background-color:#b51b3d;		
		border:2.5px groove white;		
		padding-top:10px;	
		font-size:20px;
	}
	
	
	.footer_Style_Global	{margin-right:auto; margin-left:auto; text-align:center;}
	
	
	@media (max-width: 800px) {
	  
		.home_Image{width: 100%;}
		.home_Body	{padding-bottom:5%}

	}